In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('./datasets/5min/BTC_ETH.csv', index_col=0)
df.head()

                open      high       low     close     volume
datetime
1474205100  0.021000  0.021039  0.021000  0.021038   4.296642
1474205400  0.021042  0.021049  0.021038  0.021046   3.987229
1474205700  0.021042  0.021042  0.021000  0.021038  19.966953
1474206000  0.021025  0.021038  0.021000  0.021030  27.707384
1474206300  0.021001  0.021038  0.021001  0.021036   3.879610

In [3]:
df_train, df_test = train_test_split(df, test_size=5*12*24*14, shuffle=False)

In [4]:
df_train.shape, df_test.shape

((84960, 5), (20160, 5))

In [5]:
df_train.head()

                open      high       low     close     volume
datetime
1474205100  0.021000  0.021039  0.021000  0.021038   4.296642
1474205400  0.021042  0.021049  0.021038  0.021046   3.987229
1474205700  0.021042  0.021042  0.021000  0.021038  19.966953
1474206000  0.021025  0.021038  0.021000  0.021030  27.707384
1474206300  0.021001  0.021038  0.021001  0.021036   3.879610

In [6]:
df_test.head()

                open      high      low    close       volume
datetime
1499693100  0.090430  0.090450  0.09000  0.09010   335.567642
1499693400  0.090081  0.090446  0.09000  0.09000   102.076371
1499693700  0.090000  0.090002  0.08851  0.08900  1037.093304
1499694000  0.089000  0.089633  0.08853  0.08930   506.893767
1499694300  0.089300  0.089697  0.08920  0.08942   226.942927

In [7]:
df_train.to_csv('./datasets/5min/BTC_ETH_train.csv')
df_test.to_csv('./datasets/5min/BTC_ETH_test.csv')